#  vim:ts=4:sts=4:sw=4:noet
#
#  Author: Hari Sekhon
#  Date: 2013-01-06 15:45:00 +0000 (Sun, 06 Jan 2013)
#
#  https://github.com/harisekhon/lib
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                           CPAN Requirements Packaged
# ============================================================================ #

# Installed via RPM packages, but double checks if these modules are installed and if not then installs via cpanm

#Devel::Cover
IO::Pty
JSON
JSON::XS
LWP::Authen::Negotiate
LWP::Protocol::https
Math::Round
MongoDB
MongoDB::MongoClient
#Net::LDAP
#Net::LDAPI
#Net::LDAPS

# not needed any more LWP 6.02 has SSL support bundled into LWP::Protocol::https
#Net::SSL

# newer versions of the Redis module require Perl >= 5.10, so may need to install an older version manually to get past this if the packaged version isn't found
Redis
Sys::Syslog
Term::ReadKey
Time::HiRes
#XML::SAX
XML::Simple
#YAML
