#  vim:ts=4:sts=4:sw=4:noet
#
#  Author: Hari Sekhon
#  Date: 2013-01-06 15:45:00 +0000 (Sun, 06 Jan 2013)
#
#  https://github.com/harisekhon/lib
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                            CPAN Module Dependencies
# ============================================================================ #

Class::Accessor
Data::Dumper
Devel::Cover::Report::Coveralls
ExtUtils::Constant
IO::Socket::IP
IO::Socket::Timeout
JSON
JSON::XS
LWP::Simple
LWP::UserAgent
Math::Round
MongoDB
MongoDB::MongoClient
# downgrading Net::DNS as a workaround for taint mode bug:
# https://rt.cpan.org/Public/Bug/Display.html?id=114819
Net::DNS@1.05
Net::LDAP
Net::LDAPI
Net::LDAPS
Net::SSH::Expect
Net::SSL
Readonly
Readonly::XS
# newer versions of the Redis module require Perl >= 5.10
# Make tries and then falls back to a backdated version for compatibility
# Redis
Sys::Syslog
Term::ReadKey
Test::More
Thrift
Time::HiRes
XML::SAX
XML::Simple
YAML
