#  vim:ts=4:sts=4:sw=4:noet
#
#  Author: Hari Sekhon
#  Date: 2013-01-06 15:45:00 +0000 (Sun, 06 Jan 2013)
#
#  https://github.com/harisekhon/lib
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                            CPAN Module Dependencies
# ============================================================================ #

#JSON
#JSON::XS
#Math::Round
#MongoDB
#MongoDB::MongoClient
# downgrading Net::DNS as a workaround for taint mode bug:
# https://rt.cpan.org/Public/Bug/Display.html?id=114819
#Net::DNS@1.05
#Net::LDAP
#Net::LDAPI
#Net::LDAPS
#Net::SSL
# newer versions of the Redis module require Perl >= 5.10
# Make tries and then falls back to a backdated version for compatibility
# Redis
Sys::Syslog
Term::ANSIColor
#Term::ReadKey
Test::More
# installs but returns an error code
#Thrift
#Time::HiRes
#XML::SAX
#XML::Simple
#YAML

# pinning version to stop it breaking Travis CI Perl 5.10 builds
#Data::Dumper@2.161

#Readonly
#Readonly::XS
#IO::Socket::Timeout
#IO::Socket::IP
#Class::Accessor
#Devel::Cover::Report::Coveralls
#ExtUtils::Constant
# required for Net::LDAP
#inc::Module::Install
